{% if posts %}
    {% for post in posts %}
        <div class="card shadow-sm h-md-250 mb-2">
            <div class="card-header inline-flex py-1 px-3">
                    <span>
                        <a class="text-muted font-weight-bold"
                           href="{% url 'user' post.author.id %}">{{ post.author }}</a>
                    </span>
                <span>
                    <a class="text-dark" href="{% url 'post_detail' post.id %}">
                        {{ post.created }}
                    </a>
                </span>
                {% if post.modified != post.created %}
                    <span class="font-italic">
                        (edited {{ post.modified }})
                        </span>
                {% endif %}
            </div>
            <div class="card-body py-1 px-3">
                <h3 class="mb-0">
                    <a class="text-dark"
                       href="{% url 'post_detail' post.id %}">{{ post.title|truncatechars:100 }}</a>
                </h3>
                <span>{{ post.body|truncatewords:60 }}</span>
            </div>
            {% if post.comment_set.all %}
                <div class="card-footer py-1 px-3 bg-white border-top-0 text-muted">
                    <span><a class="text-dark"
                             href="{% url 'post_detail' post.id %}#comments">{{ post.comment_set.count }} comment(s)</a></span>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% if is_paginated %}
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&laquo;</span>
                    </li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active">
                            <span class="page-link">{{ i }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&raquo;</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% else %}
    <h3>No posts</h3>
{% endif %}
