{% extends 'base.html' %}

{% block title %}Posts{% endblock title %}
{% block content %}
    <div class="col-12">
        <h2 class="display-4 mb-3">All posts</h2>
        {% include 'posts/_post_list_partial.html' %}
    </div>
{% endblock content %}
