{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card">
        <div class="post-entry card-header">
            {% if user == post.author %}
                <p class="font-weight-bold mb-0">
                    <a href="{% url 'post_edit' post.pk %}">Edit</a> |
                    <a href="{% url 'post_delete' post.pk %}">Delete</a>
                </p>
            {% endif %}
            <h2 class="display-4">{{ post.title }}</h2>
            <p>
                <span class="font-weight-bold"><a class="text-muted"
                                                  href="{% url 'user' post.author.id %}">{{ post.author }}</a></span>
                <span>{{ post.created }}</span>
                {% if post.modified != post.created %}
                    <span class="font-italic">(edited {{ post.modified }})</span>
                {% endif %}
            </p>
        </div>
        <div class="card-body">
            <p>{{ post.body }}</p>
        </div>
        <div class="card-footer" id="comments">
            {% if user.is_authenticated %}
                <div class="mb-3">
                    <form action="{% url 'add_comment' pk=post.pk %}" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary ml-2" type="submit">Add comment</button>
                    </form>
                </div>
            {% endif %}
            {% if post.comment_set.all %}
                {% for comment in post.comment_set.all %}
                    <p class="mb-0">
                        <span class="font-weight-bold text-muted">
                            <a href="{% url 'user' comment.author.id %}">{{ comment.author }}</a>
                        </span>
                        <span>{{ comment.created }}</span>
                    </p>
                    <p>
                        <span>{{ comment }}</span>
                    </p>
                {% endfor %}
            {% else %}
                <p>No comments yet</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
