{% extends 'base.html' %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h2 class="display-4">Delete <a class="text-muted"
                                            href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
        </div>
        <div class="card-body">
            <form action="" method="post">{% csrf_token %}
                <p>Are you sure you want to delete "{{ post.title }}"?</p>
                <button class="btn btn-danger ml-2" type="submit">Confirm</button>
            </form>
        </div>
    </div>
{% endblock content %}
