{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h2 class="display-4">Edit <a class="text-muted" href="{% url 'post_detail' post.id%}">{{ post.title }}</a></h2>
        </div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary ml-2" type="submit">Update</button>
            </form>
        </div>
    </div>
{% endblock content %}
