{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Vincent</h1>
        <p class="lead">A poor man's Twitter clone built with Django</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'post_list' %}"
               role="button">View all posts</a>
        </p>
    </div>
{% endblock content %}
