<div class="card">
    <div class="card-header">
        <h3 class="display-4 text-center">{{ profile_user.username }}</h3>
    </div>
    <div class="card-body">
        <p class="mb-0"><span class="font-weight-bold">{{ profile_user.first_name }} {{ profile_user.last_name }}</span>
        </p>
        <p>{{ profile_user.email }}</p>
        {% if profile_user.age %}
            <p><span class="font-weight-bold">Age:</span> {{ profile_user.age }}</p>
        {% endif %}
        <p><span class="font-weight-bold">Joined:</span> {{ profile_user.date_joined }}</p>
        <p><span class="font-weight-bold">Last login:</span> {{ profile_user.last_login }}</p>
        {% if profile_user.about %}
            <p><span class="font-weight-bold">About:</span> {{ profile_user.about }}</p>
        {% endif %}
    </div>
    {% if profile_user == user %}
        <div class="card-footer">
            <a class="btn btn-secondary d-block mx-auto" href="{% url 'edit_profile' pk=profile_user.id %}">Edit
                profile</a>
        </div>
    {% endif %}
</div>
