{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Edit profile</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Save</button>
    </form>
{% endblock content %}
