{% extends 'base.html' %}

{% block title %}Posts{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-12 col-md-4">
            {#        <h3 class="display-4 mb-3">{{ profile_user.username }}'s profile</h3>#}
            {% include 'users/_user_profile_partial.html' %}
        </div>
        <div class="col-12 col-md-8">
            <h3 class="display-4 mb-3">{{ profile_user.username }}'s posts</h3>
            {% include 'posts/_post_list_partial.html' %}
        </div>
    </div>
{% endblock content %}
